# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

#API
.env